[2016-12-21 08:49] ladvishal1985 opened #1 "Peer dependency issue with quickstart"
I tried installing the module with angular2-quickstart project. I get this below error
npm WARN peerDependencies The peer dependency rxjs@5.0.0-beta.12 included from angular2-translator will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm WARN peerDependencie

[2016-12-21 12:01] tflori commented on #1
Hi,

thanks for contributing!

Do you mean this project: https://github.com/angular/quickstart or this tool: https://www.npmjs.com/package/generator-angular2-quickstart?

[2016-12-21 12:15] ladvishal1985 commented on #1
I tried with this.
https://github.com/angular/quickstart

[2016-12-21 12:18] tflori commented on #1
ok I will give it a try and fix the dependencies.

[2016-12-21 21:23] #1 closed

[2016-12-21 21:26] tflori commented on #1
if there is still a problem feel free to reopen this issue

[2016-12-23 00:29] BorntraegerMarc opened #3 "Can't get angular2-translator to work"
Hi there

Somehow I always receive the following error: `EXCEPTION: Unexpected token < in JSON at position 0`. So maybe someone could help me out with my project config and tell me if I'm missing something? I'm using webpack at the moment...

app/app.module.ts:
[code]

app.component.ts:
[code]

en-lang.json:
[code]

[2016-12-23 05:02] tflori commented on #3
Hi Marc, sounds like a problem with loading the json. Instead of receiving
the json, the json loader get's a HTML file beginning with `<`. Try to
check the network tab from your development tools.

Marc Bornträger <notifications@github.com> schrieb am Fr., 23. Dez. 2016,
01:29:

[2016-12-23 07:33] BorntraegerMarc commented on #3
Yep, my error. Thanks!

[2016-12-23 07:33] #3 closed

[2016-12-23 08:53] BorntraegerMarc opened #4 "Add support for nested objects in default TranslateLoader"
Hi guys
So I saw that nested objects are currently not supported in the default translate loader. This line disables it: https://github.com/tflori/angular2-translator/blob/master/angular2-translator/TranslateLoaderJson.ts#L48

Maybe including support for nested objects in the default translate loader would be a good idea? So something like this would be possible: `translate.translate("app.loginTex

[2016-12-23 09:12] tflori commented on #4
Hi Marc,
it should already be possible by defining it as key:

[code]

But you are right may be some one want this. It needs some more work (recursive searches for translation). If you want you can create a PR for it. Otherwise it will need some time till I developed it.

[2016-12-23 10:01] BorntraegerMarc commented on #4
Yeah, I ment something like:
[code]

Will try to open up a PR.

[2016-12-23 10:36] tflori commented on #4
Hey, good news: I couldn't stop thinking of it and found an easy solution

[2016-12-23 11:02] tflori commented on #4
I create the PR #5 . if this is ok for you I can create version 1.3. or you see another problem here?

[2016-12-23 11:17] BorntraegerMarc commented on #4
I couldn't stop thinking as well and opened another PR :) Maybe we could combine them?

[2016-12-23 11:32] BorntraegerMarc commented on #4
I checked out your PR @tflori and missed the the test that the return string needs to have dots included...

[2016-12-23 11:40] tflori commented on #4
You missing a test? What test? In lines 184 and 185 in TranslateLoaderJson.spec.ts i'm testing that a dot is included in the translation key

[2016-12-23 11:43] BorntraegerMarc commented on #4
yeah, I ment, that I am missing the test in my code... So I'm gonna add it now. The new PR is up soon.

[2016-12-23 12:10] #4 closed

[2016-12-23 12:21] tflori commented on #4
@BorntraegerMarc npm update thanks for your contribution :smile:

[2017-02-20 12:01] robie2011 opened #7 "Error encountered resolving symbol values statically"
I have this strage error message, when I run `npm start`

[code]

Note: When I change a source file, then webpack will be recompiled successfully.

any ideas?
node : v7.5.0
npm: 4.2.0
os: mac os 10.12.3

Full log
[code]

package.json
[code]

app.module.ts
[code]

[2017-02-20 12:48] tflori commented on #7
It seems angular team changed something in the `@NgModule` directive. I didn't tried this version yet.

I'm at work currently. Can you try to export the config and then use it?

config.ts
[code]

app.module.ts
[code]

**WARNING**: this is written in the editor and never compiled. Maybe I dont remember the syntax correctly. Please check the syntax :smile:

[2017-02-20 13:12] tflori commented on #7
may be this file has to be changed as well:
https://github.com/tflori/angular2-translator/blob/master/angular2-translator.ts

I can do this in the evening.

[2017-02-20 13:47] robie2011 commented on #7
I removed alle providers from `@NgModule` and get this error

[code]

Maybe it would help to replace `useValue: new` with `useFactory: () => new`?

I'm not familiar with npm packages. I tried to change the source code in node_modules for testing purpose. But I'm getting this error:
[code]

[2017-02-20 15:59] tflori commented on #7
As I thought - this libray has the same way (create a new object inside `providers: {}` property from `@NgModule`) of providing the config. This seems not to work anymore. I will investigate in the evening.

[2017-02-20 21:32] tflori commented on #7
Sorry, I can't reproduce it. I see you used angular-cli. So you also copied the code to your source folder right?

Maybe you can try download the source from [https://github.com/tflori/angular2-translator/tree/fix-provider](this branch) and try it with the code from there - may be it works. But anyway: I don't support angular-cli - especially because it is still beta

[2017-02-21 15:10] robie2011 commented on #7
yes, I did.

I see. This must be an issue with angular-cli.

[2017-02-21 15:10] #7 closed

[2017-02-21 15:15] tflori commented on #7
If this fix helps I can publish 1.3.1 from it - if not it would be nice if you find a solution and post it here. Thanks in advance!

[2017-03-02 16:20] Quinten opened #8 "tsc complains about types"
There are some type errors when running tsc in our project after installing your module:

[code]

No other problems with your module. Besides these errors it seems to work fine.
Any idea how to fix this? Because it is making the output of tsc harder to read...

[2017-03-03 05:21] tflori commented on #8
I will check if I can fix this but it's just some warnings

[2017-03-03 05:47] tflori commented on #8
I hope this helps 1.3.1 will be created when CI is finished

[2017-03-03 06:43] Quinten commented on #8
Thank you! Looking forward to it :)

[2017-03-03 09:05] Quinten commented on #8
Sorry to bump in again.

I pulled 1.3.1 from npm. All the tsc warnings are gone but in the browser i get:
[code]

[2017-03-03 15:23] tflori commented on #8
hm that is weird. does it still work or is the package broken? do you have a trace?

I will have a look in the evening. The tests didn't show this error..

[2017-03-04 07:49] tflori commented on #8
hey, I just realized the bundle is not working for me - you have the same problem? also the .d.ts file was missing.

I changed my systemjs.config.js not to use the bundle and added the .d.ts file manually - now I don't get the error you get.

Can you please provide more information about the error you get? Angular, SystemJs, Typescript and Browser version and may be a backtrace

[2017-03-04 11:01] tflori commented on #8
the bundle did not work but after updating and fixing the bundle I don't get this error. There was one version where I got the same error but it seems to be problem of systemjs-builder or another bundler in your case...

[2017-03-04 11:26] Quinten commented on #8
The complete trace is:

[code]

[2017-03-04 11:43] Quinten commented on #8
Also when i run 'npm install' in node_modules/angular2-translator it cannot find the node_modules/angular2-translator/bundle.js

[2017-03-04 11:52] tflori commented on #8
the correct path is `node_modules/angular2-translator/bundles/angular2-translator.js`

[2017-03-04 11:52] tflori commented on #8
which version of systemsjs you are using?

[2017-03-04 11:56] Quinten commented on #8
I use systemjs 0.19.40

[2017-03-04 12:06] Quinten commented on #8
It doesn't matter if i load it from /node_modules/angular2-translator/bundles/angular2-translator.js instead of /website/static/js/lib/npm/angular2-translator/bundles/angular2-translator.js still same error

[2017-03-04 12:19] tflori commented on #8
It's a problem with the bundle in this version. 1.3.1 is broken everything is undefined. I will publish 1.3.2 where bundle is fixed

[2017-03-04 12:22] tflori commented on #8
I will close this issue - If you have still problems with 1.3.2 feel free to reopen

[2017-03-04 12:22] #8 closed

[2017-03-04 12:58] Quinten commented on #8
Installed 1.3.2 from npm and all is fine now :) Thank you

[2017-03-17 08:14] tflori opened #9 "Support Angular-Cli (@angular/cli)"
Now that Angular-Cli has a release candidate and it is the suggested method on angular.io to start a new angular project we should also support this method.

[2017-03-17 08:29] tflori opened #10 "Change to one single configuration"
The only injectables we want to have are the TranslateService and the TranslateConfig. In the TranslateConfig we also have to configure the TranslateLoader. The goal is to make configuration easier and external:

The config:

[code]

[2017-03-18 08:15] tflori opened #11 "Implement Modules"
A module is a subset of translations. The idea is to store translations in different files and load them when you enter this module. For example you need only text for managing your own content but when you enter the administration area you may need additional text like "CHANGE_USER_QUOTA".

Basically it should be configurable in the TranslateConfig:

[code]

To use the module from TranslateServic

[2017-03-19 12:45] tflori commented on #9
solved in release 1.4

[2017-03-19 12:45] #9 closed

[2017-03-20 21:28] #10 closed

[2017-03-21 06:19] tflori commented on #11
how to define what we get from parent? maybe another loader gets different parameters?

i think translateserve should not know anything about the configuration itself. it is ':any' and therefore it does not know what is inside.

[2017-03-26 13:11] BorntraegerMarc opened #16 "Update to latest angular"
Peer dependencies are still for `2.*`. Would be good to update to `4.*` and rename the project to angular-translator maybe. #itsJustAngular :)

[2017-03-26 16:25] tflori commented on #16
4.x? Yesterday someone wrote a comment and mentione that this is not working in ng5. first I thought it was a typo. what they want us to do, to force everyone to update their code to the latest Android version, or to stop peer dependencies giving a version?

we can not force everyone that is using angular2-translator to upgrade to ng4.. I think I will remove peer dependencies or just have `@angula

[2017-03-26 17:03] BorntraegerMarc commented on #16
@tflori didn't get the Android reference but if the peer dependency is removed then it seems good :) thx!

[2017-03-27 05:41] tflori commented on #16
the rename comes with next version - every links will change and this may destroy your setup.. i created another issue for this

[2017-03-27 05:44] #16 closed

[2017-03-27 05:48] tflori opened #18 "rename to angular-translator"
Change the name to angular-translator because angular2 is just a version name and now they have 4 so we need to support this too.

Please note that everything will change:
- the repository: https://github.com/tflori/angular-translator
- the npm package: https://www.npmjs.com/package/angular-translator
- the bundle file: bundles/angular-translator.js

You will have to update all of your ts files fr

[2017-03-27 05:51] tflori commented on #16
I hope it works.. as the dev dependencies are still 2.*. I will change them for angular-translator@2.0

[2017-03-30 08:15] BorntraegerMarc opened #19 "Links not working"
Under: https://github.com/tflori/angular2-translator/blob/master/docs/index.md

This text:

TranslateConfig - The TranslateConfig is a dependency for TranslateService. As the name suggests it gives a configuration for the TranslateService.

TranslateService - The TranslateService holds the core functionality for this module. It is not only for translation also it provides functions for control str

[2017-03-30 09:27] BorntraegerMarc opened #20 "Question about languageChanged"
When having the following code:
[code]

Is `waitForTranslation` necessary again? And why is `languageChanged` not called when the first language loads? Seems unnecessary to write something like:
[code]

Thx and kind regards :)

[2017-03-30 09:59] tflori commented on #20
you mean the observerable could only get the changed language when language already loaded? yes, that would make such things easier.

We can change this without a change to the API so maybe we can implement this before 2.0..

[2017-03-30 10:00] tflori commented on #20
On the other side: as long as no one loads the language (or it is trigged automatically) the observer does not get the change...

[2017-03-30 10:06] tflori commented on #19
It could be problematic - I will give it a try but the links are working here:
https://tflori.github.io/angular2-translator/

The markdown files get converted to html - I don't know if it has multiviews or converts the links too...

[2017-03-30 10:18] tflori commented on #19
the first try was with multiviews: github.io has multiviews but github.com not.

the second try worked: they get converted from jekyll (what they use for github.io)

[2017-03-30 10:18] #19 closed

[2017-03-30 10:18] BorntraegerMarc commented on #20
How about we implement just one obervable? Called `languageChanged`.
Doesn't matter if the language was loaded the first time or another one was loaded afterwards. It always get's executed when the current language is availible

[2017-03-30 11:21] tflori commented on #20
let's assume someone is only using translate component and pipe. the language is loaded and he changes the language. both subscribe language changed. but when he does not `waitForTranslation` the observer get not called. we can automatically load the current language on init and after language changes but it sounds that we might load a something that is not used.

[2017-03-30 12:12] BorntraegerMarc commented on #20
@tflori Sorry, I did not quite understand that. My proposal was only to replace `waitForTranslation` and `languageChanged` with `languageChanged`. Because the user usually does not care why something gets changed but only that it gets changed.

But maybe I don't get your point :)

[2017-03-30 12:42] tflori commented on #20
what you suggest is more like a observable  `languageLoaded`. The thing is that no language get's loaded automatically.

In your case I suggest a slightly different code: (wait - I need a computer to write this)

[2017-03-30 12:54] BorntraegerMarc commented on #20
Well, the method still get's called two times but I guess you know the architecture better :) Let's close the issue and I follow your guidelines

[2017-03-30 12:54] #20 closed

[2017-04-07 15:08] mveroukis opened #22 "Error encountered resolving symbol values statically"
I'm new to npm, angular2 & angular-cli. I simply created a new app using "ng new" and then added angular-translator with npm - exactly as described in the docs. And here's my setup:

In my package.json I have:

And when I do ng build, I get this:

Not sure what I'm doing wrong. I see that there have been similar issues reported recently but also that v1.4 should have addressed that. Am I doing som

[2017-04-07 15:46] tflori commented on #22
yes, that is a known bug from angular cli or angular compiler:
- https://github.com/angular/angular/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20resolving%20symbol%20values%20statically
- https://github.com/angular/angular/issues/15287

This is the reason the module is currently not working. you have two options: for development you can start with `ng serve` and when it is startet you can modi

[2017-04-07 16:17] mveroukis commented on #22
Ok thanks for the speedy response, I'll take a look at that.

[2017-04-07 18:22] tflori commented on #22
there is a new version (1.4.3) that makes it somebit easier for angular cli:

[code]

You just can't use the translator module at the moment. I hope they will fix it because in version 2 there are no `TRANSLATE_PROVIDER` anymore...

[2017-04-07 18:22] #22 closed

[2017-04-10 18:47] tflori commented on #18
solved with commit https://github.com/tflori/angular-translator/commit/f11789e6c50bb8532e37e53c1348878e00b9f7b2

[2017-04-10 18:47] #18 closed

[2017-04-10 18:47] #11 closed

[2017-04-10 18:48] tflori opened #25 "Update the documentation"
The documentation still uses TranslateService and other things... rewrite documentation

[2017-04-10 19:03] mveroukis commented on #25
In your docs, on the TranslateLoaderJson page, you mention that HTTP_PROVIDERS should be added to the bootstrap to make it work. HTTP_PROVIDERS is now deprecated and replaced with HttpModule. I'm sure most experienced devs know that but a noob like myself does not. It might be helpful to reflect that change in the docs.

Also, on the Dynamize page there is an example listed on how pass a parameter

[2017-04-10 20:38] tflori commented on #25
thx for this info. I will update this for version 2.

you don't need to add the providers or the module. in new angular versions each module can import the required modules itself.

[2017-04-13 09:23] tflori commented on #25
@mveroukis Thanks again for this info - I don't use the pipes and just found out that you don't get an array of strings anymore..

In Version 2 you will be able to write `{{ 'NEW _MESSAGES' | translate : { count: 42 } }}`

Your current code will still work for backward compatibility.

The PR for this change is #27

[2017-04-13 10:16] tflori opened #28 "Allow pipes in translations"
Currently it is not possible to use any pipe - it would be very helpful when it will work.

[code]

[2017-04-14 09:15] tflori opened #29 "Translator should use the language from TranslatorContainer"
... on initialization. Currently it is using defaultLanguage - which is fine when the language is not provided by this module.

[2017-04-14 09:33] #29 closed

[2017-04-14 10:06] tflori opened #31 "<number>0 get converted to empty string"
When you have `{{count}}` in your translation and count is `0` then it gets replaced by empty string. It should be 0 instead. A JavaScript and/or TypeScript developer expecting this behaviour:

node:

[code]

[2017-04-14 10:41] tflori opened #32 "Late binding of translateParams results in errors"
Because first the translation is made for only the key when using `TranslateComponent` it throws an error if you access a function from this params in the translation.

[2017-04-14 11:31] #31 closed

[2017-04-14 13:00] #32 closed

[2017-04-16 04:20] tflori commented on #20
I found another way to solve this issue with the current interface.

Currently you simply change the language:

[code]

If you want the `languageChanged` to fire after the language got loaded you can use this workaround:

[code]

[2017-04-16 14:06] tflori opened #35 "Observables are not shared"
When they are not shared only the last subscriber gets the subscription.

[2017-04-16 14:08] tflori opened #36 "Language in modules get changed silently"
In Translator the languageChanged is not fired when the language get changed in TranslatorContainer.

[2017-04-16 14:21] #35 closed

[2017-04-16 15:10] #36 closed

[2017-04-16 17:14] #25 closed

[2017-04-16 17:18] tflori opened #40 "Version 2.4 Released"
Hi,

I don't want to set up a board for this small project. Anyway I really like your feedback.

If you have questions, feature requests or other issues - please open a new issue. If you have feedback for the new release feel free to post a comment.

Thanks for all the stars :+1: :smile:

Best regards

[2017-04-17 08:27] tflori commented on #28
The main problem is to get a pipe instance by it's name (not the class name). I have an open [question regarding this problem](https://stackoverflow.com/questions/43391787) on stackoverflow.

When I don't get an answer I see only one solution: you will have to configure allowed pipes in the configuration. Maybe even with the name (depends if we can get the name from the pipe decorator).

[2017-04-18 19:50] tflori commented on #28
It seems it is currently not possible to get the pipes from compiler. Maybe a feature request will be successful.

Anyway I created a prototype it could work:
https://github.com/tflori/angular-translator/commit/558b9b17ad7404afa5237a73a25e14c635273357

There are two drawbacks:
1. you have to give `TranslatorModule.forRoot()` the pipes you want to use in translations (except the pipes from common m

[2017-04-18 19:54] tflori commented on #28
If you want to try there is a dev release for this prototype:

[code]

[2017-04-20 06:38] tflori opened #41 "Documentation for using pipes in translations"
Write documentation how to use pipes, add custom pipes and limitations.

[2017-04-20 06:40] tflori commented on #40
It was easier as I toughed to invent pipes. So soon I will release version 2.1.

If you have any other features you want to see in version 2.1 please let me know now.

[2017-04-22 17:50] #28 closed

[2017-04-22 17:50] #41 closed

[2017-04-22 17:58] tflori commented on #40
now we have version 2.1 with pipes in translations

[2017-05-02 19:22] BorntraegerMarc commented on #20
@tflori yep, this would probably work. I'll try it out ASAP

[2017-05-08 14:26] lucaritossa opened #43 "Is AOT supported?"
Sorry, I have not tested yet...
I've not found nothing about ahead-of-time compliation in your read-me.

[2017-05-08 14:30] tflori commented on #43
Please give it a try. I didn't tried AOT yet.

[2017-05-08 16:01] lucaritossa commented on #43
Ok, just tested... it works like a charm ;)

[2017-05-08 16:18] tflori commented on #43
Awesome! Thanks for the info.

Luca Ritossa <notifications@github.com> schrieb am Mo., 8. Mai 2017, 18:01:

[2017-05-09 04:52] #43 closed

[2017-05-23 15:41] BorntraegerMarc commented on #40
Love it!!! Only thing I wanted to mention is that maybe we could replace the `translator.translate('TEXT')` from returning a promise to an observable. That way the UI would always automatically update when `TranslatorContainer` changes the language :)
But I think we already had that topic once :)

[2017-05-23 15:56] tflori commented on #40
We had a different topic once (was about the observable languageChanged not languageLoaded).

It's a good idea to have an observable for each translate. Maybe with a third method `observe('TEXT')`. I rather don't want to change the interface completely (everyone will have to update every call to translate).

I will have to think about how this could be implemented. Please open an issue for this fe

[2017-05-23 16:03] BorntraegerMarc commented on #40
Sounds good, thx :)

[2017-05-23 16:04] BorntraegerMarc opened #44 "Add translator.translate method returning Observable"
Maybe we could replace the translator.translate('TEXT') from returning a promise to an observable. That way the UI would always automatically update when TranslatorContainer changes the language.

Or add an additional one

[2017-05-23 16:07] BorntraegerMarc commented on #44
So basically the use case would be instead of having:
[code]

We would just have:
[code]

[2017-05-23 17:27] BorntraegerMarc opened #45 "Image not displayed"
here: https://github.com/tflori/angular-translator/blob/master/docs/modules.md#example-use-case

[2017-05-24 04:49] tflori commented on #45
This is due to security issues with svg: https://stackoverflow.com/questions/13808020/include-an-svg-hosted-on-github-in-markdown/21521184#21521184

I don't want to put a png, jpg or gif there cause it is too big for this simple image. I also don't want to put html there cause it makes it less readable in raw text.

The docs folder is for the documentation on https://tflori.github.io/angular-trans

[2017-05-24 04:49] #45 closed

[2017-06-20 06:38] BorntraegerMarc opened #46 "Build issue with angular 4.2.3"
When I run `ng build` with angular 4.2.3 then I get the following error:
[code]

Here is my full package.json dependencies:
[code]

[2017-06-20 06:38] BorntraegerMarc commented on #46
@tflori is it maybe because of an updated typescript version?

[2017-06-20 07:08] BorntraegerMarc commented on #46
It was really because of angular. After downgrading to 4.1.3 everything worked

@tflori could you add support for angular 4.2+ ?

[2017-06-20 09:17] tflori commented on #46
@BorntraegerMarc thanks, for the info. I will fix it (maybe tomorrow morning, maybe today in the evening)..

[2017-06-20 16:35] BorntraegerMarc commented on #46
@tflori Is there something I can do to help you accelerate the process? We desperately need this...

[2017-06-20 17:29] tflori commented on #46
Of course! If you have a solution you can create a Pull Request

Marc Bornträger <notifications@github.com> schrieb am Di., 20. Juni 2017,
18:35:

[2017-06-20 17:48] tflori commented on #46
https://fossies.org/diffs/angular/4.1.3_vs_4.2.0/packages/compiler/test/pipe_resolver_spec.ts-diff.html

i just have two problems:
1. I don't know if I can do this on angular 4.1.3 and before
2. I get a timeout from browsers after an npm update

[2017-06-20 17:57] BorntraegerMarc commented on #46
@tflori good catch. Maybe you could release a breaking change version 3.0 for this library? Basically the only difference would be a peer dependency of at least angular 4.2.0

My guess is that most of the developers won't have problems to upgrade the code from 4.1.3 to 4.2.0...

[2017-06-20 18:56] BorntraegerMarc commented on #46
Sorry, can't find the time at the moment to help you out with a PR...

[2017-06-20 20:14] first87 commented on #46
@tflori  Regarding the issue, it occurs basically on the TranslatorConfig.ts [64].
Did you check this commit:  https://github.com/angular/angular/commit/50abca4583eb54bcab030a708f65ad11058082d9? There are main changes between compiler v4.1.3 and v4.2. As I had a brief look at it, [`JitReflector`](https://github.com/angular/angular/commit/50abca4583eb54bcab030a708f65ad11058082d9#diff-a577584c663e2b

[2017-06-21 05:12] tflori commented on #46
@first87 this must be another error. everything working fine on my angular-translator-demo with this change.

can both please try `angular-translator@2.1.1-alpha.2`.

I hope I can get a fix for this breaking change in angular (I will open a PR soon).

[2017-06-21 05:51] BorntraegerMarc commented on #46
@tflori This fixed the issue! Thanks a lot!

[2017-06-21 05:55] tflori commented on #46
https://github.com/angular/angular/issues/17653

[2017-06-21 05:57] tflori commented on #46
I will wait for an answer if we have to create a new version because of this ***ing breaking change that is not even mentioned in the changelog. Really annoying for such a big project like angular.

[2017-06-21 06:01] first87 commented on #46
@tflori `angular-translator@2.1.1-alpha.2` works good and it resolved the issue.

[2017-06-22 04:53] tflori commented on #46
@BorntraegerMarc @first87 As my ticket got closed I had to find another solution. And I found one not to make it incompatible with previous version of angular. It is already published under 2.1.1-alpha.4 and I will release after the merge version 2.1.1.

[2017-06-22 04:57] #46 closed

[2017-06-22 05:25] tflori commented on #44
@BorntraegerMarc you might want to give 2.2.0-alpha.1 a try. There is a new method `observeTranslate(keys, params?)`.

Other than translate this method returns an observerable that gets new values when a new language got loaded. Also this method does not accept the language parameter for obvious reasons.

[2017-06-22 05:28] tflori commented on #44
You can still translate multiple items with this method:

[code]

[2017-06-22 05:38] tflori commented on #44
oh, one more thing: please don't use this version in production. the method might be changed.

[2017-06-22 06:01] BorntraegerMarc commented on #44
I will test it out, thx!

[2017-06-22 06:02] BorntraegerMarc commented on #46
Cool, thx!

[2017-06-27 05:34] #44 closed

[2017-08-09 15:13] tflori opened #50 "Provide a FakeTranslationLoader"
Now that I'm testing my app using I find out it would be helpful to have a fake translation loader that just returns an empty object.

With this loader we can guarantee that the translation is the provided key.

Its very easy too:

[code]

We could also move the `flattenTranslations` method to the abstract class `TranslationLoader` and make it protected. This way the `TranslationLoaderFake` can us

[2017-08-09 15:40] #50 closed

[2017-08-10 09:45] saidrkc opened #52 "Extending TranslationLoaderJson"
Hi,
I want to extend TranslationLoaderJson and use http service. But is private and can't  use it.

[code]

Thanks

[2017-08-10 09:49] tflori commented on #52
The flattenTranslations is a protected since 2.2.1 (yesterday). You should not require the Http to be protected:

[code]

Or did I miss something?

[2017-08-10 10:02] saidrkc commented on #52
@Injectable()
export class MyTranslationLoader extends TranslationLoaderJson {

    private translations;

   constructor(private http: Http) {
        super(http);
    }

    public load({language}: any): Promise<object> {
        const headers = new Headers();
        headers.append('responseType', 'arraybuffer');
        const file =  this.http.get( this.cdn + 'messages.es.json', headers)

[2017-08-10 11:08] tflori commented on #52
ok, that's bad, sorry. But you may want to extend `TranslationLoader` instead. You are not using any TranslationLoaderJson specific stuff.

https://github.com/tflori/angular-translator/blob/master/src/TranslationLoader/Json.ts

As you can see there is only a load method and you overwrite it.

[2017-08-24 14:33] lucaritossa opened #53 "Property 'module' does not exist on type '{}' after upgrading to typescript v2.5.1"
I'm using angular-translator version  v2.2.3

My IDE on Windows 10:
![image](https://user-images.githubusercontent.com/12578097/29672486-abb83666-88ec-11e7-94f2-0214dd3a61a1.png)

After upgrading npm packages of:

- **angular** from v4.3.2 to v4.3.6
- **awesome-typescript-loader** from v3.2.2 to v3.2.3
- **tslint** from v5.5.0 to v5.6.0
- **typescript** from v2.4.2 to v2.5.1

I'm receiving this "a

[2017-08-24 14:40] lucaritossa commented on #53
Ok, I downgraded all npm packages following the alphabetical order and only after the downgrade of **typescript**  to v2.4.2 I no more received the error...

Now I'm trying to update angular, awesome-typescript-loader, tslint e angular-translator leaving typescript to the old version...

[2017-08-24 14:49] lucaritossa commented on #53
I confirm the error occurs only after upgrading **typescript** to v2.5.1...

I think an investigation is needed to understand the root cause (maybe a breaking change not declared by typescript?)

[2017-08-25 04:47] tflori commented on #53
the only thing I can see is that you are working with modules. thanks for this one! I hoped someone will find it useful :smile:

I don't understand why typescript thinks that `translatorConfig` is from type `{}`. It's real type is `TranslatorConfig`. Can you change this line:

[code]

To this line:

[code]

And see if it is working then...

[2017-08-26 08:19] tflori commented on #53
version 2.2.4 released, thanks for your contribution

[2017-08-26 08:19] #53 closed

[2017-08-26 08:21] tflori commented on #52
as there are no more comments I assume this is solved.

feel free to reopen if there is another problem with the private http property.

[2017-08-26 08:21] #52 closed

[2017-09-05 09:52] maciej-sielski opened #55 "Version 2.X documentation update request"
Hi,
TranslationLoaderJson has invalid documentation. On last example, in main.ts file we have a loaderOptions object which has path field set to 'assets/localization/-lang.json'. This will resolve in file lookup error. I think this should be changed to 'assets/localization/{{ language }}-lang.json'.

[2017-09-05 17:10] tflori commented on #55
thanks for your contribution. the problem is solved:
https://tflori.github.io/angular-translator/TranslationLoaderJson.html

[2017-09-05 17:10] #55 closed

[2017-09-06 09:29] ziemerz opened #56 "Can't resolve parameters for Translator: (?, ?)"
Hi,

I'm getting this error when I'm running `ng test`

`Failed: Can't resolve all parameters for Translator: (?, ?).`

I'm importing it in my test files like this: `import {Translator} from 'angular-translator`

And adding it as a provider like this:

[code]

**Expected behaviour**
No errors and tests to succeed.

Am I missing something here?

[2017-09-06 10:22] tflori commented on #56
yes, you need to configure the whole module:

[code]

[2017-09-06 10:26] ziemerz commented on #56
Alright, thank you!

[2017-09-11 14:52] ziemerz opened #57 "Update documentation"
The documentation [here](https://tflori.github.io/angular-translator/) is not up to date.

Under the headline "Setup angular module"
[code]
Should be:

[code]

If they're not, the module fails to set the appropriate language when configuring the language elsewhere in the application and will stay in English.

[2017-09-11 15:24] BorntraegerMarc opened #58 "Ability to get whole object"
I have a translate object like:
[code]

Then when calling `this.translator.observe(['date.month.jan', 'date.month.feb'])` I need to pass every single complete json endpoint

cooler would be if I could only pass: `this.translator.observe(['date.month'])` and I would get updated over all sub properties

[2017-09-12 03:59] tflori commented on #57
Thanks for this finding. I found it also on two other places and also `detectLanguageOnStart` changed to `detectLanguage`.

this commit solved it: https://github.com/tflori/angular-translator/commit/8579fd83cc3f4ae61115ea4790b4fae662b612d0

[2017-09-12 04:57] tflori commented on #58
:thinking:

You know already that they get flattened (#4) from json loader. To be able to do this we need to have nested objects in the translation table. This may result in unexpected output when referencing to an object in templates. The output of `Translator.instant()` will change from `string|string[]` to `string|string[]|object|object[]` at least. A loader from `.mo` files (if someone created

[2017-09-12 05:46] BorntraegerMarc commented on #58
Uuups yeah time flies and you forget old issues 😅
Then with the new solution we could get the whole object with `translator.instant('date.month')`. Sounds perfect! Search function makes sense to me

[2017-09-12 08:21] tflori commented on #58
I'll implement it in the next days then.

[2017-09-17 10:55] tflori opened #60 "Test TranslationLoaderFake"
It's the only class why we have 99,3% instead of 100% coverage.

[2017-09-17 10:56] tflori commented on #58
will be released with version 2.3 thanks for your contribution

[2017-09-17 10:56] #58 closed

[2017-09-18 05:56] #60 closed

[2017-09-21 06:03] #57 closed

[2017-09-25 13:40] ziemerz opened #62 "Defaults back to 'en'"
Hi

We want to make a kind of easter egg implementation of a part of our system and wanted to make custom language (like 'pirate').
When we do that, it seems like it defaults back to english though.
Is there some kind of check on the format of the languages provided?
I can imagine this could also be an issue if you wanted localisation (like en_GB and en_US).
What should the format of localisation

[2017-09-25 20:13] tflori commented on #62
https://tflori.github.io/angular-translator/TranslatorConfig.html

Indeed there is a restriction because all languages (provided and chosen) are normalized to `<two letter language>[[divider]<two letter region>]`.

You can internally name the language `pr` or something else that does not exist and map it somewhere. There was a reason behind this restriction and currently I don't know the reason. M

[2017-09-26 06:06] tflori commented on #62
The restriction was for non strict matching languages. I solved this problem otherwise and removed the restriction.

[2017-09-26 06:12] tflori commented on #62
please upgrade to `2.3.1`. if this is still not working feel free to reopen the issue. thanks for your contribution!

[2017-09-26 06:12] #62 closed

[2017-11-14 12:49] mouragz commented on #40
Can I ask if this new release work with new version of angular^5.0.0 ?

[2017-11-14 12:53] BorntraegerMarc commented on #40
@mouragz  nothing changed from pipes in angular 5. I think it'll work just fine

[2017-11-14 12:56] mouragz commented on #40
I'm trying to update to angular5 but i have an error say "ERROR TypeError: Cannot read property 'annotations' of undefined at PipeResolver.resolve" when i add this line of code in app.component.ts file
 constructor( private translator: Translator,private translatorContainer: TranslatorContainer) { } @BorntraegerMarc

[2017-11-15 06:21] tflori commented on #40
@mouragz thanks for your contribution. Currently I don't get the tests to run with angular 5.0.1 it seems this will take more time.

:cry: every half year a new version with so much incompatible code - it's frustrating.

[2017-11-15 06:30] tflori opened #64 "Angular 5 :("
Contributions would be highly appreciated, thanks in advance!

What to say? It throws errors when compiling and the tests don't run when installing angular 5...

At the moment I'm not developing a frontend and I'm not up to date what has changed... I don't know if angular 5 has any advantages - it's just breaking my code.

[2017-11-15 06:37] tflori commented on #64
small update: it's not throwing when compiling. it's throwing in browser because of the pipe resolver is different now...

[2017-11-16 06:02] tflori commented on #40
@mouragz I opened #64 and #65 to solve the problems with angular 5 - hopefully it still works in angular 4 and 2

[2017-11-16 06:08] tflori commented on #64
next error:
[code]

[2017-11-16 07:41] tflori commented on #64
puh :sweat_smile: thats a bug of linking the project.. the node_modules exists and is used from webpack then the Injector exists two times and the Injector only knows one of them...

[2017-11-16 07:45] tflori commented on #64
@mouragz can you please try angular-translator@2.4.0-rc.1 ?

[2017-11-16 07:53] tflori commented on #64
on angular-translator-demo it works: https://angular-translator-demo.my-first-domain.de/

[2017-11-17 05:16] #64 closed

[2017-11-19 08:01] mouragz commented on #64
@tflori @BorntraegerMarc thank you so much it's working fine now 💯

[2017-12-15 17:42] lucaritossa opened #66 "Metadata version mismatch for module ... found version 4, expected 3"
This occurs on (building with AOT option in my case) using angular-translator v2.4.0 with angular v4.

Accordingly to semver rules it was more correct naming your latest version to v3.0.0 considering the fact that it is based to angular v5 (see this [commit](https://github.com/tflori/angular-translator/commit/94a06bea76e0685f87237f8b74b0c832314f368a#diff-b9cfc7f2cdf78a7f4b91a753d10865a2))

[2017-12-16 09:07] tflori commented on #66
Everything changed under `"devDependencies"`. Peer dependencies are still `"*"`. It's just not using `JitCompiler` anymore.

The versioning is correct cause it is backward compatible. This message is new to me and not understandable. `found version 4` ? Is it a typo? Or is it expecting angular 3 which never existed?

[2017-12-16 12:41] lucaritossa commented on #66
This issue on SO is similar but for another project: https://stackoverflow.com/a/47534611

I will provide you more details on error I receive

[2017-12-17 13:23] tflori commented on #66
ah now I understand the metadata version is wrong.. Tho I should use `ngc` for angular 4 then it should work in both projects.. I will give it a try.

[2017-12-17 13:58] tflori commented on #66
@lucaritossa angular-translator:2.4.1 should solve your problem

thanks for your contribution!

[2017-12-17 13:58] #66 closed

[2017-12-18 07:54] lucaritossa commented on #66
👍 wow, thank you Thomas, with v2.4.1 the build works!!!

[2018-01-15 10:15] lucaritossa opened #68 "TranslateLogHandler.ts (and other files) is missing from the TypeScript compilation"
I've just tried to upgrade my package.json (devDependencies) to **typescript to v2.6.2** but building in AOT I receive this error:

[code]
This type of error continue for the other files like TranslatePipe, Json, Translator etc
The error suggest you have to package the library using [Angular Package Format](https://goo.gl/jB3GVv)

I'm also using angular v5.2.0

[2018-01-16 05:54] tflori commented on #68
I don't get this error message. It says in the file the file itself is missing.

Unfortunately I'm not actively using this library and don't get all this errors. To use an established package format was not an option at the time of writing this library because there was nothing established in angular v2 and v4. It begins to annoying me that we get errors with every update of a package while the in

[2018-01-16 06:03] tflori commented on #68
Here is the output from my angular-translator-demo app:

[code]

So a typical "It works on my machine problem"...

### Versions used:
- typescript 2.6.2
- angular 5.2.0
- angular-translator 2.4.0

[2018-01-16 06:34] tflori commented on #68
I just updated angular cli to 1.6.4 - same result.

[2018-01-16 07:36] lucaritossa commented on #68
Thank you for your test!
I'm facing this problem only when running `ng build --prod` (the --prod flag enables the AOT and other optimization stuff)

[2018-01-17 05:56] tflori commented on #68
Oh angular-translator 2.4.1 - I forgot about this release :smile:

But sorry: same result - just the warning about mismatching typescript version. I have no idea where this could come from.

[2018-01-17 10:51] lucaritossa commented on #68
So if you don't get the error running `ng build --prod` I will try to test it on another machine... maybe it doesn't work only on my current machine...

[2018-01-17 11:33] tflori commented on #68
Today I saw that my IDE wants to import from `angular-translator/src/Translator` instead of `angular-translator`.. Maybe this is causing the problem?

[2018-01-26 07:01] tflori commented on #68
@lucaritossa could you solve your problem? If not please attach a minimal version that produces this error (or create a public repository with a minimal version). thanks in advance.

[2018-02-08 10:21] lucaritossa commented on #68
@tflori I will prepare a minimal version to reproduce this issue and will provide to you.

[2018-03-05 13:01] lucaritossa commented on #68
Ok, I was able to reproduce the issue with this ```ng -v```

![image](https://user-images.githubusercontent.com/12578097/36975837-b57ff1da-207b-11e8-9c0f-015d5e3cebbb.png)

Here it is the attached minimal reproducible version
[angular-translator-aot-build-error.zip](https://github.com/tflori/angular-translator/files/1780853/angular-translator-aot-build-error.zip)

To see the error run: ```npm run

[2018-03-06 06:10] tflori commented on #68
It's for sure a bug from ngc or tsc. Removing the .ts files solves the problem because the files are already compiled. Once there was a reason why I included them in the npm package - of course: now I cant remember. They should not be needed because it's already transpiled to js..

[2018-03-06 07:47] tflori commented on #68
angular-translator 2.4.2 should solve the problem. lets hope there will not come regressions :smile:

[2018-03-06 07:47] #68 closed

[2018-05-02 08:47] armagedon opened #69 "@ViewChild gives wrong element"
Hi,
ich versuche das Problem lieber auf Deutsch zu beschreiben, wenn es für dich kein Problem ist.

Ich habe einen Button:
[code]

Nun versuche ich das Element per @ViewChild zu referenzieren:
[code]

Um dann das Element zu fokusieren:
[code]

Nun ist **discardButton** keine Instanz von **ElementRef**, sondern von **TranslateComponent**.
Wenn ich die translate-Direktive entferne, dann funktioniert

[2018-05-02 08:57] armagedon commented on #69
Sorry, habe das gelöst, liegt an Angular.
In diesem Fall geht das so:
[code]

[2018-05-02 08:57] #69 closed

[2018-05-11 07:49] cupceavictor opened #70 "Upgrading to Angular 6 and RxJS 6"
Can't subscribe to `languageChanged` `Observable`:
![image](https://user-images.githubusercontent.com/13147059/39912918-d71dd4da-5508-11e8-9f63-79fb68060762.png)

[2018-05-17 05:12] tflori commented on #70
looks like an error from your IDE. I've just upgraded [angular-translator-demo](https://github.com/tflori/angular-translator-demo) to angular 6.0.2 and I don't get any error messages.

what is the output of `ng serve` or `ng build`?

[2018-06-22 18:58] arget888 opened #71 "No exported member 'Observable'"
Hi,
I have updated my angular version to the newest version 6.0.8. I upgraded like it is advised on update.angular.io!

After the update I always get the following errors
![bildschirmfoto 2018-06-22 um 20 56 31](https://user-images.githubusercontent.com/3680955/41794182-ccb6fa0e-765e-11e8-97c3-97e092ad9de7.png)

The output of ng version is the following:
![bildschirmfoto 2018-06-22 um 20 57 14](ht

[2018-06-23 06:01] tflori commented on #71
some weeks ago someone had a similar issue (rxjs' observerable<string> has no method subscribe).. I don't know what causes this issue. maybe try to remove node_modules and `npm install` - I have no idea. It's not a problem of angular-translator:

[code]

btw. he never answered back - please close your ticket if it is solved

[2018-06-25 07:12] arget888 commented on #71
Hi,
Thank you for your reply, i found a workaround, i jus tinstalled

`npm install rxjs-compat`

and then the errors disapear and i can run ng serve successfully

[2018-06-25 07:12] #71 closed

[2018-10-29 17:00] fudandori opened #72 "(intermediate value).share is not a function"
Hi,
I was using Angular 4.2 and recently upgraded to 7.0 and looks like the translator broke. Whenever I try to load a page that makes use of the translate pipe it throws the error.

The stacks reads as follows:

ERROR Error: Uncaught (in promise): TypeError: (intermediate value).share is not a function
TypeError: (intermediate value).share is not a function
    at new TranslatorContainer (angular

[2018-11-06 05:44] tflori commented on #72
I don't think this comes from angular translator. Most likely the type is not imported:

[code]

But it is imported in `TranslatorContainer`

[2018-11-08 06:32] luisantonio071 commented on #72
I have the same issue. Recently upgraded from 5.2 to 7 so when I try to load the main page the same error appears.
ERROR TypeError: (intermediate value).share is not a function
    at new TranslatorContainer (angular-translator.js:899)
    at _createClass (core.js:17788)
    at _createProviderInstance (core.js:17756)
    at resolveNgModuleDep (core.js:17720)
    at NgModuleRef_.push../node_modules

[2018-11-08 06:53] tflori commented on #72
https://update.angular.io/

When I have a look at what to do to upgrade from 6 to 7 I see the reason: a lot of incompatibilities in Http module and rxjs. The problem is that the required changes are incompatible with angular 6 and before - means we need a new version.

Now a I have a problem. On one hand I'm proud of this library is still being preferred by some users (at least ~100 downloads per

[2018-11-08 06:54] tflori commented on #72
have you installed `rxjs-compat` for compatibility?

[2018-11-08 07:04] fudandori commented on #72
Sorry for the delayed response.

That's the first thing I checked, that everything was imported, even tried to edit the way it imported the operators (just in case) and still nothing. Got both the new rxjs and rxjs-compat.

Can't figure out what the actual problem is, I'm not that skilled in programming.

[2018-11-09 07:47] tflori commented on #72
I don't get it published. Typescript compiles but ngc throws because of a duplicate property :disappointed:

[2018-11-09 10:59] tflori commented on #72
finally it works. please try 3.0.0-rc.2 for angular7

[2018-11-10 09:59] fudandori commented on #72
Hello.

I did a small local test and the error disappeared. I'll continue testing more thoroughly the following days and keep you posted if I find anything amiss.

Thanks and good work.

[2018-11-15 05:31] tflori commented on #70
I've just released angular translator 3 for compatibility to angular 8. Since there where no new comments I will close this one.

[2018-11-15 05:31] #70 closed

[2018-11-15 05:32] tflori commented on #72
version 3.0 is now released. feel free to reopen if the error is still not solved

[2018-11-15 05:32] #72 closed

[2018-11-15 05:37] tflori opened #73 "Version 3.0 released"
I've just released version 3.0.

Basically it is just an upgrade for incompatibility with angular 7. Now version 3 is for angular 7 and later while version 2.4 is for angular 2 to 6.

I would be glad if someone can take over maintenance for this project as I'm not using angular at the moment.

[2018-11-15 05:37] #40 closed

[2018-11-23 13:18] javix opened #74 "Fallbacks if the key could not be resolved"
Hi,
it is possible to implement some fallbacks if a key could not be resolved?
The following logic would be conceivable:
- If the key in the actual language not available, makes a fallback to defaultLanguage.
- If even defaultLanguage[key] doesn't resolve, it returns the key.

Put this code to Translator instant function before line 263:
[code]

[2018-11-23 13:57] tflori commented on #74
makes sense - especially when using keys that don't read well. feel free to open a MR.

[2018-11-26 11:00] javix commented on #74
Done. I hope everything fits.

[2018-11-26 11:04] javix commented on #74
Oh, I see: "Coverage decreased".
I try to complete the tests.

[2018-11-26 20:00] tflori commented on #74
@javix thx for your contribution

[2018-11-28 05:47] #74 closed

[2021-03-15 17:14] Ruchir-zealous opened #77 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)."
[code]

got above error when updated Angular version 10.2

[2021-05-31 06:56] tflori commented on #77
According to this article https://angular.io/guide/migration-module-with-providers we have to update the return type of our translator module.

If I'm correct we just need to replace it. I just released version 3.1.2 - please give it a try.

[2021-06-04 06:21] #77 closed